/* Add your custom CSS here */

/*
:root is a CSS pseudo-class (https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes) that
matches the root element of a document, which is <html> in HTML. This allows us to declare global
CSS variables to store properties that can be accessed and reused by any element in the document.
*/
:root {
  --primary-color: #81d4fa; /* blue */
  --primary-color-lighten-1: #b3e5fc;
  --primary-color-darken-1: #4fc3f7;
  --secondary-color: #ff7043; /* orange */
  --secondary-color-lighten-1: #ff8a65;
  --secondary-color-darken-1: #ff5722;
  --tertiary-color: #ffeb3b;
  --primary-font: 'Playfair Display', serif;
  --secondary-font: 'Josefin Sans', sans-serif;
}


/* ===== Materialize Overrides ===== */
body,
p,
a,
button {
  font-family: 'Playfair Display', serif; /* IE fallback */
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Josefin Sans', sans-serif; /* IE fallback */
  font-family: var(--secondary-font);
}

h5 {
  line-height: 135%;
}

.btn,
.btn-large,
.btn-small {
  background-color: #ff7043; /* IE fallback */
  background-color: var(--secondary-color);
  font-family: 'Playfair Display', serif;
  font-family: var(--primary-font);
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background-color: #ff5722; /* IE fallback */
  background-color: var(--secondary-color-darken-1);
}

nav .brand-logo {
  font-family: 'Josefin Sans', sans-serif;
  font-family: var(--secondary-font);
  font-size: 1.6rem;
}

.logo-em {
  color: var(--primary-color);
  font-family: 'Playfair Display', serif;
  font-family: var(--primary-font);
  font-style: italic;
  font-size: 1.9rem;
}

/* ===== /Materialize Overrides ===== */


/* ===== Utility classes ===== */

.primary-bg {
  background-color: #ba68c8; /* IE fallback */
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: #ff7043; /* IE fallback */
  background-color: var(--secondary-color);
}

.primary-text {
  color: #ba68c8; /* IE fallback */
  color: var(--primary-color);
}

.secondary-text {
  color: #ff7043; /* IE fallback */
  color: var(--secondary-color);
}

.no-shadow {
  box-shadow: none;
}

/* ===== /Utility classes ===== */


.cta-container {
  background: linear-gradient(var(#ff7043), var(#ffc107)); /* IE fallback */
  background: linear-gradient(var(--secondary-color), var(--tertiary-color));
  padding: 75px 0;
}

.custom-footer {
  background: linear-gradient(var(#ff7043), var(#ba68c8)); /* IE fallback */
  background: linear-gradient(var(--secondary-color), var(--primary-color));
}
