/* Add your custom CSS here */

/*
:root is a CSS pseudo-class (https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes) that
matches the root element of a document, which is <html> in HTML. This allows us to declare global
CSS variables to store properties that can be accessed and reused by any element in the document.
*/
:root {
  --primary-color: #ba68c8;
  --primary-color-lighten-1: #ce93d8;
  --primary-color-darken-1: #ab47bc;
  --secondary-color: #ff7043;
  --secondary-color-lighten-1: #ff8a65;
  --secondary-color-darken-1: #ff5722;
  --tertiary-color: #ffc107;
  --primary-font: 'Libre Baskerville', serif;
  --secondary-font: 'Libre Franklin', sans-serif;
}


/* ===== Materialize Overrides ===== */
body {
  font-family: 'Libre Baskerville', serif; /* IE fallback */
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
button {
  font-family: 'Libre Franklin', sans-serif; /* IE fallback */
  font-family: var(--secondary-font);
}

h5 {
  line-height: 135%;
}

.btn,
.btn-large,
.btn-small {
  background-color: #ba68c8; /* IE fallback */
  background-color: var(--primary-color);
  font-family: 'Libre Franklin', sans-serif;
  font-family: var(--secondary-font);
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background-color: #ab47bc; /* IE fallback */
  background-color: var(--primary-color-darken-1);
}

.brand-logo {
  height: 44px;
  margin: 10px 0;
}

/* ===== /Materialize Overrides ===== */


/* ===== Utility classes ===== */

.primary-bg {
  background-color: #ba68c8; /* IE fallback */
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: #ff7043; /* IE fallback */
  background-color: var(--secondary-color);
}

.primary-text {
  color: #ba68c8; /* IE fallback */
  color: var(--primary-color);
}

.secondary-text {
  color: #ff7043; /* IE fallback */
  color: var(--secondary-color);
}

/* ===== /Utility classes ===== */


.cta-container {
  background: linear-gradient(var(#ffc107), var(#ff7043)); /* IE fallback */
  background: linear-gradient(var(--tertiary-color), var(--secondary-color));
  padding: 75px 0;
}

.cta-container h5 {
  font-family: 'Libre Baskerville', serif; /* IE fallback */
  font-family: var(--primary-font);
}

.custom-footer {
  background: linear-gradient(var(#ff7043), var(#ba68c8)); /* IE fallback */
  background: linear-gradient(var(--secondary-color), var(--primary-color));
}
